/*
Primary Color:
004C4C	0E3939	003131	29A5A5	4AA5A5
Complementary Color:
7F3900	5F3818	522500	BF7130	BF8556
*/
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg1.png');
}
.container {
  min-height: 100%;
  position: relative;
}
.splitBg {
  position: absolute;
  left: -2000px;
  top: 0;
  height: 100%;
  background-image: url('../images/bg2.png');
  z-index: -1;
}
.splitBg div {
  position: absolute;
  top: 0;
  right: 65px;
  background-image: url('../images/con.png');
  width: 388px;
  height: 217px;
}
@media (min-width: 768px) {
  .splitBg {
    width: 2187.5px;
  }
}
@media (min-width: 992px) {
  .splitBg {
    width: 2242.5px;
  }
}
@media (min-width: 1200px) {
  .splitBg {
    width: 2292.5px;
  }
}
@media (max-width: 767px) {
  .menu {
    background-image: url('../images/bg2.png');
  }
}
@media (min-width: 768px) {
  .menu {
    margin-top: 270px;
  }
}
a:hover {
  text-decoration: none;
}
