@import "bootstrap/variables";

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg1.png');
}

.container {
  min-height: 100%;
  position: relative;
}

@splitBgShift: 2000px;
@splitBgMenuCols: 3;

.splitBg {
  position: absolute;
  left: -@splitBgShift;
  top: 0;
  height: 100%;
  background-image: url('../images/bg2.png');
  z-index: -1;

  div {
    position: absolute;
    top: 0;
    right: 65px;
    background-image: url('../images/con.png');
    width: 388px;
    height: 217px;
  }

  .splitBgWidth(@base) {
    width: @splitBgShift + @base * (@splitBgMenuCols/@grid-columns);
  }

  @media (min-width: @screen-sm-min) {
    .splitBgWidth(@container-sm);
  }

  @media (min-width: @screen-md-min) {
    .splitBgWidth(@container-md);
  }

  @media (min-width: @screen-lg-min) {
    .splitBgWidth(@container-lg);
  }
}

@menuSquareColor: #d5d985;
// #004b4b;
@menuSquareActiveColor: @link-hover-color;
// #4f7036;
@menuItemColor: @link-color;
//#004b4b;
@menuItemActiveColor: @link-hover-color;
//#9da145;
@menuSeparatorColor: @hr-border;

.menu {
  ul {
    padding: 0;
  }

  @media (max-width: @screen-xs-max) {
    background-image: url('../images/bg2.png');

    ul {
      margin: 0;
      list-style-type: none;

      li {
        float: left;
        line-height: @line-height-computed*2;
        border-right: 1px @menuSeparatorColor solid;
      }
      li:last-child {
        border-right: 0;
      }
    }
  }
  @media (min-width: @screen-sm-min) {
    margin-top: 240px;
    font-size: @font-size-large;

    ul {
      list-style-type: square;
      list-style-position: inside;

      li {
        border-bottom: 1px @menuSeparatorColor solid;
        line-height: @line-height-computed*2;
        color: @menuSquareColor;

        a {
          color: @menuItemColor;
        }
        &.active {
          color: @menuSquareActiveColor;
        }
        &.active a, a:hover {
          color: @menuItemActiveColor;
          text-decoration: none;
        }
      }

      li:last-child {
        border-bottom: 0;
      }
    }
  }
}

h1 {
  font-size: @font-size-h3;
  font-weight: normal;
  margin-bottom: @line-height-computed*2;
}

h2 {
  text-transform: uppercase;
  margin-bottom: @line-height-computed*2;

  small {
    font-size: 45%;
    display: block;
    margin-top: 8px;
  }

  a {
    color: @headings-color;
  }
}

.readmore {
  text-align: right;
  border-bottom: 1px @hr-border solid;
}