@import "bootstrap/variables";

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg1.png');
}

.container {
  min-height: 100%;
  position: relative;
}

@splitBgShift: 2000px;
@splitBgMenuCols: 3;

.splitBg {
  position: absolute;
  left: -@splitBgShift;
  top: 0;
  height: 100%;
  background-image: url('../images/bg2.png');
  z-index: -1;

  div {
    position: absolute;
    top: 0;
    right: 65px;
    background-image: url('../images/con.png');
    width: 388px;
    height: 217px;
  }

  .splitBgWidth(@base) {
    width: @splitBgShift + @base * (@splitBgMenuCols/@grid-columns);
  }

  @media (min-width: @screen-sm-min) {
    .splitBgWidth(@container-sm);
  }

  @media (min-width: @screen-md-min) {
    .splitBgWidth(@container-md);
  }

  @media (min-width: @screen-lg-min) {
    .splitBgWidth(@container-lg);
  }
}

.menu {
  @media (max-width: @screen-xs-max) {
    background-image: url('../images/bg2.png');
  }
  @media (min-width: @screen-sm-min) {
    margin-top: 270px;
  }
}

a:hover {
  text-decoration: none;
}

