# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

# default charset should be UTF-8
AddDefaultCharset utf-8

# enable gzip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
        RewriteEngine On
        # RewriteBase /

        RewriteCond %{HTTP_HOST} !^dolezy\.cz$ [NC]
        RewriteCond %{HTTP_HOST} !^localhost$ [NC]
        RewriteRule (.*) https://dolezy.cz/$1 [R=301,QSA,L]
</IfModule>

# disables conditional caching
<FilesMatch "\.(png|jpg|jpeg|gif|ico|js|css)$">
	<IfModule mod_expires.c>
		ExpiresActive on
		ExpiresDefault "access plus 30 days"
	</IfModule>
	FileETag none
</FilesMatch>

