<div class="blogbox">
    <div class="title">
        <h2>{{ site.data.lang.blogboxTitle[include.lang] }}</h2>
        <p><a href="/atom.xml">RSS&nbsp;<span class="socicon socicon-rss"></span></a></p>
        {% if site.data.lang.blogboxSubtitle[include.lang] %}<p><small>{{ site.data.lang.blogboxSubtitle[include.lang] }}</small></p>{% endif %}
    </div>
    <div class="entries">
        {% for post in site.posts limit: 3 %}
        <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <small>{{ post.date | date: "%d.%m.%Y" }}</small>
        </h3>
        {% if post.summary %}<p>{{ post.summary }}</p>{% else %}{{ post.excerpt }}{% endif %}
        {% endfor %}
    </div>
</div>
