---
active: muzeum
title: Muzeum
---
{% capture assets %}{{ site.baseurl }}/images{% endcapture %}

<h2>{{ page.title }}</h2>

<p>Vlastní tvorba, kterou už je jinde nestáhnete a rozhodně by neměla zapadnout.
    Programy poskytuji bez záruky na cokoliv, na mém stroji jsou stále spustitelné.
    Pokud je budete dále šířit, uveďte, prosím, odkaz na moje stránky.</p>

<hr />

<div class="muzeum">
    <div>
        <a name="m-muchy"></a>
        <h4>Muchy</h4>
        <p>Jednoduchá hříčka v Delphi pro Windows. Přes obrazovku lítají mouchy a hráč se je myší snaží všechny
            zlikvidovat. Ze začátku brnkačka, později hmyzu přibývá a nábojů ubývá.</p>
        <p><a href="{{site.baseurl}}/muzeum/muchy.zip">Stáhnout ZIP (235kB)</a></p>
    </div>
    {% include img t='Muchy' f='muzeum-muchy.png' ff='muzeum-muchy.png' %}
</div>

<hr />

<div class="muzeum">
    <div>
        <a name="m-tanky"></a>
        <h4>Tanky</h4>
        <p>Opět v Delphi pro Windows. Hra pro více hráčů u jednoho PC, ideálně se sadou náhradních klávesnic. Hráči
            ovládají tank, který se snaží likvidovat ostatní a zároveň přežít co nejdéle. Podpora několika herních módů,
            týmové hry a možnost tvořit vlastní mapy.</p>
        <p><a href="{{site.baseurl}}/muzeum/tanky.zip">Stáhnout ZIP (850kB)</a></p>
    </div>
    {% include img t='Tanky' f='muzeum-tanky.png' ff='muzeum-tanky.png' %}
</div>

<hr />

<div class="muzeum">
    <div>
        <a name="m-tanky2"></a>
        <h4>Tanky&nbsp;2</h4>
        <p>Vylepšená verze předchozího. Stále se mačká více lidí u jednoho PC, ale už obsahuje i vylepšenou
            grafiku, zvuky a hudbu, výrazně více herních módů, nové zbraně, možnost ovládání myší a gamepadem.
            Zdánlivě jednoduchá hra, která zabaví na hodiny a hodiny (vyzkoušeno za vás). Opět Windows a Delphi.
        </p>
        <p><a href="{{site.baseurl}}/muzeum/tanky2.zip">Stáhnout ZIP (6,4MB)</a></p>
        <p><a href="{{site.baseurl}}/muzeum/t2-soundtrack.zip">Stáhnout soundtrack v MP3 (36,2MB)</a></p>
    </div>
    {% include img t='Tanky 2' f='muzeum-tanky2.png' ff='muzeum-tanky2.png' %}
</div>

<hr />

<div class="muzeum">
    <div>
        <a name="m-rpg"></a>
        <h4>Prokletí Becherova</h4>
        <p>Hra do soutěže Becherovka Game. Klasické RPG ve stylu Final Fantasy - dialogy, sbírání předmětů, souboje,
            zachránit svět, získat princezninu ruku a tak vůbec.

            Původně pro staré mobilní telefony, upravena pro desktopovou Javu.</p>
        <p><a href="{{site.baseurl}}/muzeum/rpg-se.zip">Stáhnout ZIP (128kB)</a></p>
    </div>
    {% include img t='Prokletí Becherova' f='muzeum-rpg.png' ff='muzeum-rpg.png' %}
</div>

<hr />

<div class="muzeum">
    <div>
        <a name="m-cvacht"></a>
        <h4>Čvacht</h4>
        <p>Klasická plošinovka v trochu psychedelickém prostředí. Ovládáte zeleného bloba, který se snaží najít další
            menší různobarevné blobíky a nikam přitom nespadnout a nebýt sežrán. Semestrálka do X36ALG na ČVUT FEL,
            desktopová Java.</p>
        <p><a href="{{site.baseurl}}/muzeum/cvacht.zip">Stáhnout ZIP (1,8MB)</a></p>
    </div>
    {% include img t='Čvacht' f='muzeum-cvacht.png' ff='muzeum-cvacht.png' %}
</div>
