<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link href="/css/main.css" media="print, projection, screen, tv" rel="stylesheet" type="text/css"/>
</head>


<body>

<div class="container">
    <div class="splitBg hidden-xs">
        <div></div>
    </div>

    <div class="row">
        <div class="col-sm-3 menu">
            <h1>Jindřich Doležy
                <small>personal site</small>
            </h1>
            <ul>
                {% if page.active == 'profile' %}
                <li class="active">{% else %}
                <li>{% endif %}<a href="/">Profile</a></li>

                {% if page.active == 'blog' %}
                <li class="active">{% else %}
                <li>{% endif %}<a href="/blog/">Blog</a></li>
            </ul>

            <p class="text-center">
                <a href="https://cz.linkedin.com/in/dolezy/" target="_blank"><img src="/images/li.png" width="35" height="35"
                                                                                  alt="LinkedIn"/></a>

                <a href="https://github.com/dzindra" target="_blank"><img src="/images/gh.png" width="35" height="35"
                                                                          alt="GitHub"/></a>

                <a href="https://twitter.com/xDzindra" target="_blank"><img src="/images/tw.png" width="35" height="35"
                                                                            alt="Twitter"/></a>

            </p>

            <div class="clearfix"></div>
        </div>
        <div class="col-sm-9 col-md-offset-1 col-md-8">
            {{ content }}

            <hr/>
            {{ site.author }}<br/>
            {{ site.email }}
        </div>
    </div>
</div>

</body>
</html>
