<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.name}}{% if page.title %} | {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width">

    <link href="/css/main.css" media="print, projection, screen, tv" rel="stylesheet" type="text/css"/>
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed" />

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png" />
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/icons/manifest.json" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="msapplication-config" content="/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="{% if page.id %}{{ page.title }}{% else %}{{ site.name }}{% endif %}" />
    <meta property="og:type" content="{% if page.id %}article{% else %}website{% endif %}" />
    <meta property="og:description" content="{% if page.id %}{{ page.summary }}{% else %}{{site.data.lang.defaultDescription[page.lang]}}{% endif %}" />
    <meta property="og:url" content="{{site.url}}{% if page.id %}{{page.url}}{% else %}{{page.lang_url}}/{% endif %}" />

{% if site.ga %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{site.ga}}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endif %}
</head>


<body>
{% if page.lang == %}<strong>No lang!</strong>{% else %}

<nav class="top">
    <div class="container">
        <div class="row">
            <h1 class="title"><a href="{{page.lang_url}}/">Jindřich Doležy</a>
                <small>{{site.data.lang.claim[page.lang]}}</small>
            </h1>

            <div class="icons">
                <a href="https://twitter.com/xDzindra" target="_blank"><span class="socicon socicon-twitter"></span></a>

                <a href="https://github.com/dzindra" target="_blank"><span class="socicon socicon-github"></span></a>

                <a href="https://cz.linkedin.com/in/dolezy/" target="_blank"><span class="socicon socicon-linkedin"></span></a>
            </div>

            <div class="clearfix visible-xs"></div>

            <ul class="menu">
                {% if page.active == %}
                <li class="active">{% else %}
                <li>{% endif %}<a href="{{page.lang_url}}/">{{site.data.lang.menuHome[page.lang]}}</a></li>

                {% if page.active == 'about' %}
                <li class="active">{% else %}
                <li>{% endif %}<a href="{{page.lang_url}}/about/">{{site.data.lang.menuAbout[page.lang]}}</a>
                </li>

                {% if page.lang == 'cz' %}
                {% if page.active == 'blog' %}
                <li class="active">{% else %}
                <li>{% endif %}<a href="/blog/">{{site.data.lang.menuBlog[page.lang]}}</a></li>

                {% if page.active == 'muzeum' %}
                <li class="active">{% else %}
                <li>{% endif %}<a href="/muzeum/">{{site.data.lang.menuMuzeum[page.lang]}}</a></li>
                {% endif %}

                <li class="lang">
                    <a href="{{ site.data.lang.menuSwitchLangUrl[page.lang] }}/">{{ site.data.lang.menuSwitchLang[page.lang] }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main">
    <div class="deco hidden-xs"></div>

    <div class="container">
        <div class="row">
            <div class="content">
                {{content}}

                <hr/>

                <p class="text-center">
                    <small>
                        &copy;&nbsp;<a href="mailto:{{site.email}}">Jindřich Doležy</a>, 2014 |
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC&nbsp;BY-SA&nbsp;3.0</a> |
                        BTC&nbsp;<a href="https://blockchain.info/address/{{site.btc}}">{{site.btc}}</a>
                    </small>
                </p>
            </div>

        </div>
    </div>
</div>

<script src="/js/script.min.js"></script>

{% endif %}
</body>
</html>
