---
layout: default
---
<h2>{{ page.title }} <small>{{ page.date | date: "%d.%m.%Y" }}</small></h2>
{% assign galleries = site.gallery | sort: "date" | reverse %}
{% for gallery in galleries %}{% if gallery.id == page.id %}
{% unless forloop.first %}{% assign prevUrl = prev.url %}{% assign prevTitle = prev.title %}{% endunless %}
{% unless forloop.last %}{% assign next = galleries[forloop.index] %}{% assign nextUrl = next.url %}{% assign nextTitle = next.title %}{% endunless %}
{% endif %}{% assign prev = gallery %}{% endfor %}

{{ content }}

{%capture galleryNav %}<div class="galleryNav">
    {% if prevUrl %}<a href="{{prevUrl}}" class="prev">&laquo; {{prevTitle}}</a>{% else %}<span class="prev"></span>{% endif %}
    {% if nextUrl %}<a href="{{nextUrl}}" class="next">{{nextTitle}} &raquo;</a>{% else %}<span class="next"></span>{% endif %}
</div>{% endcapture %}

{{ galleryNav }}

<div class="gallery">{% capture assets %}/assets/images/{{page.path | basename}}{% endcapture %}
    {% for img in page.images %}{% assign imgName = img[0] %}{% assign imgTitle = img[1]|default:"" %}
    {% include gimg t=imgTitle f=imgName %}
    {% endfor %}
</div>

{{ galleryNav }}

<div class="sharing">
    Líbila se Vám galerie? Sdílejte přes
    <div class="holder">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Sdílet na Twitteru"><span class="socicon socicon-twitter"></span></a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Sdílet na Facebooku"><span class="socicon socicon-fb"></span></a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Sdílet na Google+"><span class="socicon socicon-gplus"></span></a>
    </div>
    nebo se přihlašte k odběru novinek
    <a href="/atom.xml" rel="nofollow"><span class="socicon socicon-rss"></span></a>
</div>
